@import url(https://fonts.googleapis.com/css?family=New+Tegomin:regular);
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display&display=swap');

.header,
strong {
	text-align: center;
	font-family: 'New Tegomin', serif;
	color: currentColor;
	text-shadow: 2px 2px 5px;
}

.input {
	width: 20%;
	align-self: center;
}

*,
*::before,
*::after {
	box-sizing: border-box;
}

body {
	background-color: yellow;
	background-size: cover;
	height: 100vh;
	color: dimgrey;
}

.all {
	text-align: center;
}

.button {
	margin-right: 40px;
	margin-left: 5px;
	padding: 16px;
	border-radius: 8px;
	transition: background-color 2s;
	font-family: 'Playfair Display', serif;
	transition-timing-function: ease-out;
}

.button:hover {
	background-color: gray;
	color: white;
	box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.buttonAct {
	margin-right: -10px;
	margin-left: 355px;
	padding-right: 5px;
	padding-left: 5px;
	background-color: transparent;
	border: none;
	outline: none;
}

.buttonDel {
	margin-left: 20px;
	padding-right: 10px;
	padding-left: 10px;
	background-color: transparent;
	border: none;
}

p.activity {
	margin-bottom: 5px;
	margin-left: auto;
	margin-right: auto;
	margin-top: auto;
	border-radius: 5px;
	border: '2px hidden';
	background-color: rgba(0, 128, 0, 0.3);
	max-width: 100%;
	font-family: 'Playfair Display', serif;
	font-weight: bold;
	transition: background-color 2s;
	transition-timing-function: ease-out;
	transition-delay: 1s;
}

p:hover {
	background-color: teal;
}

.container {
	display: flex;
	justify-content: center;
	align-items: center;
}
